@model MSDiary.Models.TipoDespesa

@{
    ViewBag.Title = "Detalhes Tipo de despesa";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDespesaNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDespesaNome)
        </dd>
        <dt>
            @Html.LabelFor(model => model.subTipo.TipoDespesaNome,"Subtipo de despesa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTipo.TipoDespesaNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoDespesaId }) |
    @Html.ActionLink("voltar", "Index")
</p>
